<ion-view hide-nav-bar="true" class=" login_bg"  view-title="login">
<div style="text-align:center"><img src="img/logo.png" width="80vh" style="margin:0 auto;" />
<h3 class="positive">FORGOT PASSWORD</h3>
</div>
	<div class="middle-port padding">

		<div ng-if="step==1">
		<div class="card">
			<ion-list>
				<label class="item item-input" >
					<i class="icon ion-android-mail placeholder-icon"></i>
    <input type="text" ng-model="form.email_txt" placeholder="Enter your email address">
  </label>

			</ion-list>

		</div>

		<button class="button button-positive button-block" ng-click="sendOTP()">SEND OTP</button>
		</div>

<div ng-if="step==2">
		<div class="card">
			<ion-list>
				<label class="item item-input" >
					<i class="icon ion-key placeholder-icon"></i>
    <input type="text" ng-model="form.otp" placeholder="Enter your OTP">
  </label>

			</ion-list>

		</div>

		<button class="button button-positive button-block" ng-click="verifyOTP()">VERIFY OTP</button>
		</div>

<div ng-if="step==3">
		<div class="card">
			<ion-list>
				<label class="item item-input" >
					<i class="icon ion-key placeholder-icon"></i>
    <input type="password" ng-model="form.password" placeholder="Enter your new password">
  </label>
  <label class="item item-input" >
					<i class="icon ion-key placeholder-icon"></i>
    <input type="password" ng-model="form.verify_password" placeholder="Re-enter new password">
  </label>

			</ion-list>

		</div>

		<button class="button button-positive button-block" ng-click="resetPassword()">RESET PASSWORD</button>
		</div>


		<p ng-click="gotoLogin()" class="dark padding-vertical">BACK TO LOGIN</p>
	</div>

</ion-view>
