<ion-view hide-nav-bar="true" class=" login_bg"  view-title="login">
<div style="text-align:center"><img src="img/logo.png" width="80vh" style="margin:0 auto;" />
<h3 class="positive">FORGOT PASSWORD</h3>
</div>
	<div class="middle-port padding">
		<div class="card">
			<ion-list>
				<label class="item item-input" >
					<i class="icon ion-android-mail placeholder-icon"></i>
    <input type="text" ng-model="email" placeholder="Enter your email address">
  </label>
				
			</ion-list>

		</div>
		
		<button class="button button-positive button-block" ng-click="reset()">RESET PASSWORD</button>
		<p ng-click="gotoLogin()" class="dark padding-vertical">BACK TO LOGIN</p>
	</div>

</ion-view>