<ion-modal-view>
    <ion-content>
      <h4 style="text-align:center" class="title assertive">ORDER READY IN</h4>
          <div class="row dark padding-vertical" style="text-align:center">
           
           <div class="col col-33" style="border:1px solid #eee"><span class="text-lg">35</span><br> <span class="text-sm">MINS</span></div>
           <div class="col col-33" style="border:1px solid #eee"><span class="text-lg">45</span><br> <span class="text-sm">MINS</span></div>
           <div class="col col-33" style="border:1px solid #eee"><span class="text-lg">60</span><br> <span class="text-sm">MINS</span></div>

          </div>
    </ion-content>
 </ion-modal-view>
