$login_bg_color:#fefefe;

$xs:2px;
$sm:4px;
$md:8px;
$mdx:12px;
$lg:16px;
$lgx:18px;
$xl:24px;
$xxl:32px;

.item-text-center
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.login_bg {
  background: url("../img/login_bg.png") no-repeat bottom center fixed;
  background-color:$login_bg_color;
  background-size: contain; }


.middle-port{
  width:90%;
  text-align: center;
  margin: 10% auto;
  transform: translateY(-10%);
}

.overflow-scroll>.scroll.overscroll{
    position: fixed;
    width:auto;
}

.bar .title{
  font-size:$lg !important;
}

.no-padding {
    padding: 0px !important;
}
.padding-sm{
  padding: $sm !important;
}
.padding-md{
  padding: $md !important;
}

.padding-lg{
  padding: $lg !important;
}

.margin-sm{
  margin: $sm !important;
}
.margin-md{
  margin: $md !important;
}

.margin-md10{
  margin: 10px !important;
}

.margin-lg{
  margin: $lg !important;
}