<ion-view view-title="ORDER STATUS">
	<ion-content style="background-color:#eee">
		<div class="padding" style="background-color:#fff">
			<h4 class="assertive">{{order.app_user.first_name|uppercase}} {{order.app_user.last_name|uppercase}}</h4>
			<p>{{order.delivery_address}}</p>
			<ul class="dark">
				<li ng-repeat="item in order.order_item"><i class="icon ion-android-done"></i> {{item.products.product_name}}</li>
			</ul>
		</div>
	<div class="orderStatus" style="margin-top:35px;margin-bottom:35px">
  <ul class="row">
	  
    <li class="col" ng-class="{'done':order.order_status=='R'||order.order_status=='P'||order.order_status=='Di'||order.order_status=='De'}" >Accepted</li>
    <li class="col" ng-class="{'done':order.order_status=='P'||order.order_status=='Di'||order.order_status=='De'}" >InProcess</li>
    <li class="col" ng-class="{'done':order.order_status=='Di'||order.order_status=='De'}" >Dispatched</li>
    <li class="col" ng-class="{'done':order.order_status=='De'}" >Delivered</li>
    
  </ul>
</div>
		<div class="padding" ng-if="order.order_status!='De'">
			<button class="button button-royal button-block" ng-click="setStatus()"><i class="icon ion-android-done-all"></i> SET AND SEND NOTIFICATION</button>
		</div>




	</ion-content>
</ion-view>