.item-text-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%; }

.login_bg {
  background: url("../img/login_bg.png") no-repeat bottom center fixed;
  background-color: #fefefe;
  background-size: contain; }

.text-lg{
  font-size:1.6em;
}
.text-sm{
  font-size:1.1em;
}
.middle-port{
  width:90%;
  text-align: center;
  margin: 10% auto;
  transform: translateY(-10%);
}


.line{
    background: #999;
    height: 5px;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    z-index: -1;
    left: 50%;
}




